<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Portfolio RRB</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/artyom.window.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
</head>
<body>
<div class="main-content" style="text-align: center;">
    <div class="map-base">
        <div id="wrapper_div">
        <!-- header
================================================== -->
<header>
    <div class="row">

        <div class="top-bar">
            <a class="menu-toggle" href="#"><span>Menu</span></a>

            <div class="logo">
                <a href="#">RRB</a>
            </div>

            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="">About</a></li>
                    <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
                    <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#services" title="">Services</a></li>
                    <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
                </ul>
            </nav>
        </div> <!-- /top-bar -->

    </div> <!-- /row -->
</header> <!-- /header -->

<!-- intro section
================================================== -->
<section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content" id="top">
        <div class="row">

            <div class="col-twelve">

                <h5>Hello, World.</h5>
                <h1>I'm Raghav Bajaj.</h1>

                <p class="intro-position">
                    <span>Full-stack Developer</span>
                    <span>Transitioning to ML</span>
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

            </div>

        </div>
    </div> <!-- /intro-content -->

    <ul class="intro-social">
        <li><a href="https://github.com/RRB230899" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.instagram.com/rrb230899/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul> <!-- /intro-social -->

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Unveiling "Raghav Bajaj"</h1>

            <div class="intro-info">

                <img src="images/profile-pic.jpg" alt="Profile Picture">

                <p class="lead">
                    A prospective Data Sorcerer, dwelling in the realm of Muggles,
                    eagerly yearning to transcend into the enchanting domain of Hogwarts,
                    that is Data Science, and conjure a realm of pure magic.
                </p>
            </div>

        </div>
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>The Chronicles of Raghav: From Code Spells to Data Potions</h3>
            <p> Forging a Dual Identity: A Full-Stack Sorcerer and Aspiring Data Alchemist.
                I conjure insights from datasets, brewing data potions that illuminate hidden patterns.
            </p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Raghav Rajkumar Bajaj</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>August 23, 1999</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Former Full-stack Developer, Data Analytics Intern</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <span>acciorrb.website</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>bajajraghav9@gmail.com</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Mystical Arsenal of Skills</h3>
            <p>I've honed my skills in two distinct realms. On one hand, I'm a Full-Stack Developer,
                on the other, I'm an Aspiring Data Scientist.
                With a stack of tech spells and data incantations, I'm ready to weave magic.
            </p>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Django</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>MySQL, MongoDB & PostgreSQL</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>React</strong>
                </li>
                <li>
                    <div class="progress percent50"><span style="top: -5em;">50%</span></div>
                    <strong style="font-size: 1.4rem;">Data Analytics (R, Python, Tableau)</strong>
                </li>
                <li>
                    <div class="progress percent50"><span style="top: -5em;">50%</span></div>
                    <strong>Machine Learning Algorithms</strong>
                </li>
                <div class="harry-container">
                    <img class="harry harry1" src="{% static 'images/hp.png' %}">
                    <img class="harry harry2" src="{% static 'images/hp.png' %}">
                    <img class="harry harry3" src="{% static 'images/hp.png' %}">
                    <img class="harry harry4" src="{% static 'images/hp.png' %}">
                    <img class="harry harry5" src="{% static 'images/hp.png' %}">
                    <img class="harry harry6" src="{% static 'images/hp.png' %}">
                </div>

            </ul> <!-- /skill-bars -->
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const skills = document.querySelectorAll(".skill");
                    const harries = document.querySelectorAll(".harry");
                    const targetPercents = [100, 95, 95, 80, 55, 55]
                    const directions = [1, 1, 1, 1, 1, 1]; // 1 for moving right, -1 for moving left
                    const currentPercents = [-10, -10, -10, -10, -10, -10];

                    const animateHarry = (index) => {
                        return () => {
                            currentPercents[index] += directions[index];
                            harries[index].style.left = currentPercents[index] + "%";

                            if (currentPercents[index] === targetPercents[index] || currentPercents[index] === -10) {
                                directions[index] *= -1; // Change direction when reaching the target or -10
                                if (currentPercents[index] < -10) {
                                    currentPercents[index] = -10;
                                } else if (currentPercents[index] > targetPercents[index]) {
                                    currentPercents[index] = targetPercents[index];
                                }
                            }
                        };
                    };

                    // Set individual animation intervals for each Harry
                    for (let i = 0; i < harries.length; i++) {
                        setInterval(animateHarry(i), 100); // Adjust the interval to control the animation speed
                    }
                });
            </script>

        </div>

    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Let's Collaborate" class="button stroke smoothscroll">Let's Collaborate</a>
        </div>
    </div>

</section> <!-- /process-->


<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Resume</h5>
            <h1>More of my credentials.</h1>

            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi
                aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

        </div>
    </div> <!-- /section-intro-->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Work Experience</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Data Analytics Intern / Full-stack developer</h3>
                        <p>July 2023 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h4>LuckyCX.com</h4>
                        <p>Day-to-day basis customer reports generation.
                            Spearheaded the development of a new feature for the customers to reach out to their consumers.
                            <br>Technology Stack: Python, Django & MySQL
                        </p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>System Engineer</h3>
                        <p>July 2021 - January 2023</p>
                    </div>

                    <div class="timeline-content">
                        <h4>Tata Consultancy Services Ltd.</h4>
                        <p>I served as a front-end developer on the AIG Annuities project,
                            where my responsibilities included fixing bugs and providing support for feature development.
                            <br>Technology Stack: React, AEM & DotNet
                        </p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->

    </div> <!-- /resume-timeline -->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Education</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>B.Tech in Information Technology</h3>
                        <p>August 2017 - July 2021</p>
                    </div>

                    <div class="timeline-content">
                        <h4>Government College of Engineering, Amravati</h4>
                        <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat
                            laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse
                            cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->

    </div> <!-- /resume-timeline -->

</section> <!-- /features -->


<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Portfolio</h5>
            <h1>Check Out Some of My Works.</h1>

            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi
                aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

        </div>
    </div> <!-- /section-intro-->

    <div class="row portfolio-content">

        <div class="col-twelve">

            <!-- portfolio-wrapper -->
            <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="{% static 'images/portfolio/acciorrb-tetris.png' %}" alt="Liberty">
                        <a href="#modal-01" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">Tetris</h3>
                                    <span class="folio-types">
		     					       	  Web Design
		     					       </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="{% static 'images/portfolio/acciorrb-lnhomes.png' %}" alt="Shutterbug">
                        <a href="#modal-02" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">LN Homes</h3>
                                    <span class="folio-types">
		     					       	  Web Design
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
                    <div class="item-wrap">
                        <img src="{% static 'images/portfolio/acciorrb-yogshalaa.png' %}" alt="Yogshalaa">
                        <a href="#modal-03" class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">YogShalaa</h3>
                                    <span class="folio-types">
		     					       	  Web Design
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- /folio-item -->

                <!-- modal popups - begin
                ============================================================= -->
                <div id="modal-01" class="popup-modal slider mfp-hide">

                    <div class="media">
                        <img src="{% static 'images/portfolio/acciorrb-tetris.png' %}" alt=""/>
                    </div>

                    <div class="description-box">
                        <h4>Tetris</h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                        <div class="categories">Web Development</div>
                    </div>

                    <div class="link-box">
                        <a href="https://github.com/RRB230899/Tkinter">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-01 -->

                <div id="modal-02" class="popup-modal slider mfp-hide">

                    <div class="media">
                        <img src="{% static 'images/portfolio/acciorrb-lnhomes.png' %}" alt=""/>
                    </div>

                    <div class="description-box">
                        <h4>LN Homes</h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                        <div class="categories">Web Design</div>
                    </div>

                    <div class="link-box">
                        <a href="https://lnhomes.in">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-02 -->

                <div id="modal-03" class="popup-modal slider mfp-hide">

                    <div class="media">
                        <img src="{% static 'images/portfolio/acciorrb-yogshalaa.png' %}" alt=""/>
                    </div>

                    <div class="description-box">
                        <h4>YogShalaa</h4>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                        <div class="categories">Web Design</div>
                    </div>

                    <div class="link-box">
                        <a href="https://yogshalaa.in">Details</a>
                        <a href="#" class="popup-modal-dismiss">Close</a>
                    </div>

                </div> <!-- /modal-03 -->

                <!-- modal popups - end
             ============================================================= -->

            </div> <!-- /portfolio-wrapper -->

        </div>  <!-- /twelve -->

    </div> <!-- /portfolio-content -->

</section> <!-- /portfolio -->


<!-- contact
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact</h5>
            <h1>I'd Love To Hear From You.</h1>

            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi
                aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

        </div>
    </div> <!-- /section-intro -->

    <div class="row contact-form">

        <div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
                {% csrf_token %}
                <fieldset>

                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2"
                               required="">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value=""
                               required="">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50"
                                  required=""></textarea>
                    </div>
                    <div class="form-field">
                        <button class="submitform">Submit</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">
            </div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent successfully, thank you!<br>
            </div>

        </div> <!-- /col-twelve -->

    </div> <!-- /contact-form -->

    <div class="row contact-info">

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Where to find me</h5>

            <p>
                103, Anand Residency, Bhandara, Maharashtra, India - 441904
                <br>It keeps changing (I keep using the floo network).
            </p>

        </div>

        <div class="col-four tab-full collapse">

            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email Me At</h5>

            <p>bajajraghav9@gmail.com</p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me At</h5>

            <p>Mobile: (+91) 742-088-9933</p>
        </div>

    </div> <!-- /contact-info -->

</section> <!-- /contact -->


<!-- footer
================================================== -->

<footer>
    <div class="row">

        <div class="col-six tab-full pull-right social">

            <ul class="footer-social">
                <li><a href="https://github.com/RRB230899" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/rrb230899/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div>

        <div class="col-six tab-full">

            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
            </div>

        </div> <!-- /row -->
    </div>
</footer>

            </div>

<div id="preloader">
    <div id="loader"></div>
</div>
        <div class="map-flap flap--1">
            <div class="map-flap__front"></div>
            <div class="map-flap__back"></div>
        </div>
        <div class="map-flap flap--2">
            <div class="map-flap__front"></div>
            <div class="map-flap__back"></div>
        </div>
        <div class="map-side side-1">
            <div class="front"
                 style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/8.png')"></div>
            <div class="back"></div>
        </div>
        <div class="map-side side-2">
            <div class="front"
                 style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/18.png')"></div>
            <div class="back"></div>
        </div>
        <div class="map-side side-3">
            <div class="front"
                 style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/7.png')"></div>
            <div class="back"></div>
        </div>
        <div class="map-side side-4">
            <div class="front"
                 style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/10.png')"></div>
        </div>
        <div class="map-side side-5">
            <div class="front"
                 style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/6.png')"></div>
            <div class="back"></div>
        </div>
        <div class="map-side side-6">
            <div class="front"
                 style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/11.png')"></div>
            <div class="back"></div>
        </div>
    </div>
</div>
<div class="instructions">
    <p>1. Enable the website to use your microphone.</p>
    <p>2. Map will open if you say "I solemnly swear that I'm up to no good."</p>
    <p>3. Map will close if you say "Mischief Managed!".</p>
    <p>4. Remember to speak clearly.</p><br/>
    <p>This looks a lot better zoomed out (sorry).</p><br/>
    <p>If you do not want to use a microphone, press this button!</p>
    <button class="toggle-map js-toggle">Open/Close Map</button>
</div>
</body>
<script src="{% static 'js/hp.js' %}"></script>
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>